<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.dearu.practice.repository.ChatDao">
    <select id="getChatRoomList" resultType="java.util.HashMap">
        SELECT * from CHATROOM
        <where>
            room_id
        </where>
    </select>

    <insert id="makeRoom" parameterType="co.dearu.practice.model.ChatRoom">
        INSERT INTO CHATROOM (create_user_id, room_nm, last_msg, email)
        VALUES (#{create_user_id}, #{room_nm}, #{last_msg}, #{email});
    </insert>

    <insert id="makeMyRoom" parameterType="co.dearu.practice.model.ChatRoom" >
        INSERT IGNORE INTO MYROOM (room_id, user_id, email) values(
        (SELECT max(room_id) FROM CHATROOM <where>create_user_id = #{create_user_id}</where>), #{create_user_id}, #{email});
    </insert>

    <insert id="addMyRoom" parameterType="co.dearu.practice.model.MyRoom">
        INSERT IGNORE INTO MYROOM (room_id, user_id, email) values (#{room_id}, #{user_id}, #{email});
    </insert>

    <update id="updateChatRoom" parameterType="int">
        UPDATE CHATROOM SET user_count = (SELECT count(user_id) FROM MYROOM <where>room_id = #{room_id}</where>)
        <where>room_id = #{room_id};</where>
    </update>

    <insert id="storeMessage" parameterType="co.dearu.practice.model.ChatMessage" >
        INSERT INTO MESSAGE (room_id, user_id, msg) values (#{room_id}, #{user_id}, #{msg});
    </insert>

    <select id="getChatMessage" parameterType="int" resultType="co.dearu.practice.model.ChatMessage">
        SELECT * FROM MESSAGE;
    </select>

    <delete id="deleteMyRoom" parameterType="co.dearu.practice.model.MyRoom">
        DELETE FROM MYROOM
        <where>
            room_id = #{room_id} AND user_id = #{user_id}
        </where>
    </delete>

    <delete id="deleteChatRoom">
        DELETE FROM CHATROOM
        <where>
            user_count = 0;
        </where>
    </delete>

    <select id="getRoomUser" parameterType="co.dearu.practice.model.MyRoom" resultType="co.dearu.practice.model.MyRoom">
        SELECT * FROM MYROOM <where> room_id=#{room_id} AND user_id != #{user_id} </where>
    </select>

    <update id="deleteMessage" parameterType="int">
        UPDATE MESSAGE SET del_yn='1' <where>msg_idx = #{msg_idx}</where>
    </update>

    <update id="restoreMessage" parameterType="int">
        UPDATE MESSAGE SET del_yn='0' <where>msg_idx = #{msg_idx}</where>
    </update>

    <select id="getMessage" parameterType="int" resultType="String">
        SELECT msg FROM MESSAGE <where>msg_idx = #{msg_idx}</where>
    </select>
</mapper>